{% extends 'base.html' %}
{% load wagtailcore_tags crispy_forms_tags %}
{% block content %}


<div id="area" class="flex justify-center items-center bg-gray-700"">
    <div class="wrapper w-80 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">

        <div id="task-steps" class="border-b-2">
            <p><b>Steps:</b></p>
            <ul class="pl-4 space-y-1">{{ page.body}}</ul>
        </div>

        <div id="buttons" class="flex">
            <div id="button-container" class="flex justify-center pt-4 pr-2">
                <a href="{% pageurl page.get_parent %}">
                    <button type="button" class="text-white bg-sky-900 hover:bg-sky-800 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 ">Back to task</button>
                </a>
            </div>
            
            <div id="button-container" class="flex justify-center pt-4">
                <a href="{% url 'steps-update' page.id   %}">
                    <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Change steps</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}