{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags  %}
{% block content %}


<div id="delete-area" class="flex justify-center items-center bg-gray-700 pt-32">
    <div class="wrapper w-80 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
        <!-- <div class="quit-icon flex justify-end">
            <a href="{{ request.path }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </a>
        </div> -->
        
        <div class="delete-header flex-column">
            <div class="x-mark-circle flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-32 h-32">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>					  
            </div>	
            <div class="flex justify-center">					
                <h4 class="text-3xl text-stone-900 font-semibold">Are you sure?</h4>	
            </div>
        </div>
        
        <div class="delete-body flex justify-center my-12">
            <p>You want to delete <b>"{{task}}"</b> ?</p>
        </div>

        <div class="delete-footer flex justify-center">
            <form method="POST">
                {% csrf_token %}
                <input class="text-center m-2 w-32 focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 hover:cursor-pointer" type="submit" value="Delete" />
            </form>

            <a href="{% pageurl task %}">
                <button type="button" class="text-center m-2 w-32 text-gray-700 border border-gray-300 focus:outline-none hover:bg-gray-400  font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-600 dark:text-white dark:border-gray-400  dark:hover:border-gray-400">Cancel</button>
            </a>	

        </div>
    </div>
</div>


{% endblock %}
